body{
    background-image: url(../img/bg.webp);
    background-size: 2000px;
    background-repeat: no-repeat;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    margin: 0;
}
header {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(10, 71, 37,0.9);
    color: white;
    position: fixed;
}
main{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
h1{
    font-size: 25px;
}
p, label{
    font-family: 'Merriweather', serif;
}
.header{
    display: inline-flex;
    justify-content: flex-start;
    width: 100%
}
.header img{
    width: 70px;
}
.center{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    padding: 0 10px;
}
.block{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 70px;
}
.block img {
    margin-top: 50px;
    width: 300px;
    border: 10px solid white;
    box-shadow: 0px 0px 10px 5px  rgb(82, 152, 82);
    z-index: 1;

}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
}
form p {
    font-size: 24px;
    text-align: center;
    color: rgb(10, 71, 37);
    text-shadow: 1px 1px 2px rgb(10, 71, 37);
    margin: 0 0;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 0;
}
form input {
    border: none;
    outline: none;
    color:rgb(10, 71, 37);
    font-size: 24px;
    padding: 10px 20px;
    margin-top: 10px;
}
form input::placeholder {
    color: rgb(210, 210, 210);
}
form button {
    border: none;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top, rgb(10, 71, 37), rgb(255,255,255));
    border: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(10, 71, 37);
    font-size: 28px;
}
form button:hover{
    background-color: white;
    background-image: none;
    color: rgb(10, 71, 37);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
    header {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        background-color: rgba(10, 71, 37,0.9);
        color: white;
        position: fixed;
    }
    main{
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }
    h1{
        font-size: 18px;
    }
    p, label{
        font-family: 'Merriweather', serif;
    }
    .header{
        display: inline-flex;
        justify-content: flex-start;
        width: 100%
    }
    .header img{
        width: 40px;
    }
    .center{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px;
        min-width: 340px;
    }
    .block{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        height: 100%;
    }
    .block img {
        margin-top: 50px;
        width: 280px;
        border: 10px solid white;
        box-shadow: 0px 0px 10px 5px  rgb(82, 152, 82);
        z-index: 1;
    
    }
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 300px;
    }
    form p {
        font-size: 18px;
        text-align: center;
        color: rgb(10, 71, 37);
        text-shadow: 1px 1px 2px rgb(10, 71, 37);
        margin: 0 0;
        padding: 10px 0;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 0;
    }
    form input {
        border: none;
        outline: none;
        color:rgb(10, 71, 37);
        font-size: 18px;
        padding: 10px 20px;
        margin-top: 10px;
    }
    form input::placeholder {
        color: rgb(210, 210, 210);
    }
    form button {
        border: none;
        width: 100%;
        height: 50px;
        background-image: linear-gradient(to top, rgb(10, 71, 37), rgb(255,255,255));
        border: none;
        color: white;
        text-shadow: 1px 1px 2px rgb(10, 71, 37);
        font-size: 18px;
    }
    form button:hover{
        background-color: white;
        background-image: none;
        color: rgb(10, 71, 37);
        text-shadow: 1px 1px 2px rgb(255, 255, 255);
    }
}