body{
    background-image: url(../img/bg.webp);
    background-size:  100%;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    margin: 0;

}

@media screen and (min-width: 1025px) {
header {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(10, 71, 37,0.9);
    color: white;
    position: fixed;
}
main{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
h1{
    font-size: 22px;
}
p, label, a{
    font-family: 'Merriweather', serif;
}
.header{
    display: inline-flex;
    justify-content: flex-start;
    width: 40%;
}
.header img{
    width: 60px;
}
.center{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    padding: 0 10px;
}
.cart{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
    padding-right: 30px;
}
.cart img{
    height: 40px;
    margin: 0 20px 0 20px;
}
.cart #cart{
    border-radius: 30px;
}
.cart #cart:hover{
    background-color: rgb(255, 255, 255);

}
#sign{
    text-wrap: nowrap;
    width: 110px;
    height: 30px;
    background-color: rgb(82, 152, 82);
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0 20px 0 20px;
    padding: 10px;
    text-decoration: none;
}
#sign:hover{
    background-color: white;
    color:  rgb(82, 152, 82);
}
.cart p{
    font-size: 18px;
    margin: 0 0 0 20px;
}
.allbook {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    margin-top: 80px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

.block{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    
}
.book{
    width: 160px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 15px;
}
.search {
    text-align: center;
    padding-top: 10px;
    color: rgb(10, 71, 37)
}
h5 {
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
}
.search input{
    width: 150px;
    margin-bottom: 10px;
}

.searchPrice {
    display: inline-flex;
    flex-wrap: wrap;
}
.searchPrice h5{
    width: 100%;
}
.searchPrice input{
    width: 10%;
}
.searchPrice label{
    width: 80%;
    padding-left: 5px;
    text-align: start;
    margin-bottom: 15px;
    margin-top: 5px;
}

.books {
    display: flex;
}
.onebook {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}
.onebook li{
    width: 150px;
    background-color: white;
    padding: 0 20px 10px 20px;
    margin-top: 20px;
    text-align: center;
}
.onebook li:hover{
    box-shadow:  1px 1px 20px rgb(10, 71, 37);
}
.onebook img{
    width: 150px;
    height: 200px;
    box-shadow:  1px 1px 10px rgb(10, 71, 37);
}
#title{
    font-size: 16px;
    font-weight: bold;
    width: 170px;
    height: 50px;
    color: rgb(10, 71, 37);
}
.onebook p{
    text-align:  start;
}
#author {
    font-size: 16px;
    height: 50px;
}
#price {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    text-shadow: 1px 1px 5px rgb(10, 71, 37);
}

}

/*768 - 1024 px*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        background-color: rgba(10, 71, 37,0.9);
        color: white;
        position: fixed;
    }
    main{
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }
    h1{
        font-size: 20px;
    }
    p, label, a{
        font-family: 'Merriweather', serif;
    }
    .header{
        display: inline-flex;
        justify-content: flex-start;
        width: 40%;
    }
    .header img{
        width: 50px;
    }
    .center{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px;
    }
    .cart{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        padding-right: 30px;
    }
    .cart img{
        height: 50px;
        margin: 0 20px 0 20px;
    }
    .cart #cart{
        border-radius: 30px;
    }
    .cart #cart:hover{
        background-color: rgb(255, 255, 255);
    
    }
    #sign{
        text-wrap: nowrap;
        width: 100px;
        height: 20px;
        background-color: rgb(82, 152, 82);
        border: none;
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: 18px;
        margin: 0 10px 0 10px;
        padding: 5px;
        text-decoration: none;
    }
    #sign:hover{
        background-color: white;
        color:  rgb(82, 152, 82);
    }
    .cart p{
        font-size: 18px;
        margin: 0 0 0 20px;
    }
    .allbook {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        margin-top: 70px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    .block{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }
    .book{
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    .search {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 10px;
        color: rgb(10, 71, 37);
        width: 100%;
    }
    h5 {
        margin-top: 0;
        margin-bottom: 5px;
        margin-left: 20px;
        font-size: 14px;
    }
    .search input{
        width: 100%;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
    .searchPrice {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .searchPrice h5{
        width: 100%;
        text-align: start;
    }
    .searchPrice input{
        width: 10px;
        margin-left: 10px;
        margin-left: 20px;
    }
    .searchPrice label{
        text-align: start;
        margin-bottom: 15px;
        margin-top: 5px;
        font-size: 14px;
    }
    
    .books {
        display: flex;
     
    }
    .onebook {
        display: inline-flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0;
    }
    .onebook li{
        width: 20%;
        background-color: white;
        padding: 0 15px 5px 15px;
        margin-top: 20px;
        text-align: center;
    }
    .onebook li:hover{
        box-shadow:  1px 1px 20px rgb(10, 71, 37);
    }
    .onebook img{
        width: 100%;
        box-shadow:  1px 1px 10px rgb(10, 71, 37);
    }
    #title{
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        height: 50px;
        color: rgb(10, 71, 37);
    }
    .onebook p{
        text-align:  start;
    }
    #author {
        font-size: 16px;
        height: 50px;
    }
    #price {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        font-size: 20px;
        text-shadow: 1px 1px 5px rgb(10, 71, 37);
    }
    
    }

    @media screen and (max-width: 768px) {
        header {
            display: inline-flex;
            justify-content: center;
            width: 100%;
            background-color: rgba(10, 71, 37,0.9);
            color: white;
            position: fixed;
        }
        main{
            display: inline-flex;
            justify-content: center;
            width: 100%;
        }
        h1{
            font-size: 18px;
        }
        p, label, a{
            font-family: 'Merriweather', serif;
        }
        .header{
            display: inline-flex;
            justify-content: flex-start;
        }
        .header img{
            width: 40px;
        }
        .center{
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            padding: 0 10px;
            min-width: 362px;
        }
        .cart{
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            width: 20%;
        }
        .cart img{
            height: 30px;
            margin: 0 10px 0 10px;
        }
        .cart #cart{
            border-radius: 30px;
        }
        .cart #cart:hover{
            background-color: rgb(255, 255, 255);
        
        }   #name {
            position: absolute;
            margin-top: 170px;
            margin-right: 15px;
            width: 20%;
            text-align: end;
            color: rgb(10, 71, 37);
            text-shadow: 1px 1px 2px rgb(255, 255, 255);
            font-size: 16px;
        }
        #sign {
            text-wrap: nowrap;
            position: absolute;
            margin-top: 120px;
            margin-right: 10px;
            width: 80px;
            height: 20px;
            background-color: rgb(82, 152, 82);
            border: none;
            border-radius: 10px;
            font-size: 16px;
            color: white;
            margin: 90px 10px 0 10px;
            text-decoration: none;
            text-align: center;
            padding: 5px;
            
        }
        #sign:hover{
            background-color: white;
            color:  rgb(82, 152, 82);
        
        }
        .cart p{
            font-size: 18px;
            margin: 0 0 0 20px;
        }
        .allbook {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-top: 50px;
            background-color: rgba(255, 255, 255, 0.8);
            min-width: 280px;
        }
        
        .block{
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
        }
        .book{
            width: 100%;
            background-color: rgb(255, 255, 255);
        }
        .search {
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 10px;
            color: rgb(10, 71, 37);
            width: 100%;
        }
        h5 {
            margin-top: 0;
            text-align: center;
            margin-bottom: 5px;
            font-size: 14px;
        }
        .search input{
            width: 100%;
            margin-bottom: 10px;
        }
        
        .searchPrice {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .searchPrice h5{
            width: 100%;
            text-align: center;
        }
        .searchPrice input{
            width: 10px;
            margin-left: 10px;
        }
        .searchPrice label{
            text-align: start;
            margin-bottom: 15px;
            margin-top: 5px;
            font-size: 14px;
        }
        
        .books {
            display: flex;
        }
        .onebook {
            display: inline-flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-around;
            padding-left: 5px;
            padding-right: 0;
            width: 100%;
        }
        .onebook li{
            width: 25%;
            min-width: 100px;
            background-color: white;
            padding: 0 15px 0 15px;
            margin-top: 5px;
            text-align: center;
        }
        .onebook li:hover{
            box-shadow:  1px 1px 20px rgb(10, 71, 37);
        }
        .onebook img{
            width: 100%;
            box-shadow:  1px 1px 10px rgb(10, 71, 37);
        }
        #title{
            font-size: 12px;
            font-weight: bold;
            width: 100%;
            height: 40px;
            color: rgb(10, 71, 37);
        }
        .onebook p{
            text-align:  start;
        }
        #author {
            font-size: 12px;
            height: 30px;
        }
        #price {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            font-size: 14px;
            text-shadow: 1px 1px 5px rgb(10, 71, 37);
        }
        
        }
